#Use this config file to enter any input variables.
#Uncomment whichever variable you with to change and assign its value
#Command line arguments may also be used in the form of "-variable='value'"

#[experimental]

    #Inputs concerning physical dimensions and parameters from real experiment
    #skimPos = 0.0462D0
    #valvePos = 90.2D-3
    #colPos = 0.089D0
    #skimRad = 1E-3
    #valveRad = 1.5E-3
    colRad = 10000

    #sheetCentre
    #halfSheetHeight = 0.005D-3
    #sheetWidth
    #pulseLength = 0
    surface_z = 283

#[imaging]

    #Inputs regarding the imaging process
    #pxMmRatio
    probeStart = 38D-6
    probeEnd = 450D-6
    #tStep = 1D-06
    #gaussDev
    #ksize
    #polyOrder
    #scattering = .FALSE.
    #testMods
    #writeImages = .FALSE.
    #scatterIntensity 
    #fLifeTime
    #captureGateOpen
    #captureGateClose

#[mathParameters]

    #Iputs for mathematical calculations
    #xPx
    #zPx
    #incidenceAngle = 0
    #cosinePowerTD = 1
    #cosinePowerIS = 0
    
    #x0 = 112.2D0
    #aMax
    #aMin
    #h
    #s
    #dist
    #mass
    #massMol
    #energyTrans = 0
    #surfaceMass = 50
    #exitAngle = 45
    #temp
    ncyc = 1E9
    #maxSpeed
    scatterFraction = 0D0 # 0 for TD, 1 for IS

#[file paths. Enter folder where images are to be saved.]

    linux = .TRUE.
    #imagePath = "/mnt/d/ScatteringImages/"
    #matrixPath
    #ifPath

#[Fixed molecule parameters]

    #speedIn
    #speedOut
    #startx
    #starty
    #startz
    #scatterx
    #scattery
    #scatterz
    #creationTime
    #scatterTime

#[Gaussian distributions for speed and time]

    gauss_time = .TRUE.

    n_t = 2
    m_t = 22D-6 32D-6
    std_t = 5D-6 8D-6
    w_t = 1D0 1D0

    n_s = 1
    m_s = 74.8529D-6
    std_s = 3D-6
    w_s = 1D0

    gauss_dist = 0.1527

    show_beam = False

    #time_offset = 23.0
    #n_s = 2
    #m_s = 100.0
    #std_s = 2.0
    #w_s =  1.0

    #MB_scatter_speed = .TRUE.

    #time_offset_scatter = 0
    #n_s_scatter = 1
    #m_s_scatter = 200.0
    #std_s_scatter = 2.0
    #w_s_scatter =  1.0

    trans_speed_modify = True
    trans_gauss_mean = 0
    trans_gauss_sigma = 40
    trans_lor_gamma = 0
    l_g_fraction = 0.5D0

    extra_info_comment = "test"