#Use this config file to enter any input variables.
#Uncomment whichever variable you with to change and assign its value
#Command line arguments may also be used in the form of "-variable='value'"
#[experimental]

    #Inputs concerning physical dimensions and parameters from real experiment
    #skimPos = 0
    #valvePos
    #colPos
    #skimRad
    #valveRad
    #colRad
    #sheetCentre
    #halfSheetHeight
    #sheetWidth
    #pulseLength

#[imaging]

    #Inputs regarding the imaging process
    #pxMmRatio
    #probeStart
    #probeEnd
    tStep = 0.5E-6
    #gaussDev
    #ksize
    #polyOrder
    #scattering
    fullSim = .FALSE.
    #testMods
    #writeImages
    #scatterIntensity 
    fLifeTime = 0
    #captureGateOpen
    #captureGateClose

#[mathParameters]

    #Iputs for mathematical calculations
    #xPx
    #zPx
    incidenceAngle = -45
    #cosinePowerTD
    #cosinePowerIS
    #x0
    #aMax
    #aMin
    #h
    #s
    #dist
    #mass
    #massMol
    #energyTrans
    #surfaceMass
    #exitAngle
    #temp
    #ncyc
    #maxSpeed
    scatterFraction = 1